* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.home {
  background-image: url("/Xypo_All_Images/images/background.png");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding: 0 100px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 100px;
}
.menu img {
  width: 50px;
  cursor: pointer;
  position: fixed;
}
h1 {
.text h1 {
  margin-top: 200px;
  font-size: 36px;
}
p {
.text p {
  max-width: 300px;
  margin: 50px 0;
  color: gray;
}
.btn {
  border: 2px solid #f67c92;
  padding: 20px 30px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.socialMediaLinks {
  position: fixed;
  top: 40%;
  left: 0;
  background-color: transparent;
  height: 100%;
  width: 80px;
}
.socialMediaLinks img {
  display: block;
  text-align: center;
  margin: 25px;
  font-size: 50px;
  cursor: pointer;
}
.navLinks {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 250px;
  background-color: #f67c92;
  transition: 0.5s;
}
.navLinks li a {
  display: block;
  color: white;
  text-decoration: none;
}
.navLinks li {
  list-style: none;
  margin: 50px 30px;
}
@media (max-width: 700px) {
  h1 {
    font-size: 20px;
  }
}
.row-about {
  padding: 100px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.col-left-about {
  flex-basis: 50%;
}
.col-left-about img {
  width: 100%;
}

.col-right-about {
  flex-basis: 50%;
}
.col-right-about h1 {
  text-align: right;
  margin-bottom: 50px;
}
.col-right-about h2 {
  text-align: end;
  font-family: "Dancing Script", cursive;
  margin-bottom: 50px;
}
.col-right-about p {
  text-align: end;
  color: gray;
  margin-bottom: 50px;
}
.text-about {
  margin-right: 100px;
}
.square {
  height: 12px;
  width: 10px;
  background-color: #f67c92;
}
.text-about h3 {
  color: gray;
  text-align: right;
}
