* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.home {
  background-image: url("/Xypo_All_Images/images/background.png");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding: 0 100px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 100px;
}
.menu img {
  width: 50px;
  cursor: pointer;
  position: fixed;
}
.text h1 {
  margin-top: 200px;
  font-size: 36px;
}
.text p {
  max-width: 300px;
  margin: 50px 0;
  color: gray;
}
.btn {
  border: 2px solid #f67c92;
  padding: 20px 30px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.socialMediaLinks {
  position: fixed;
  top: 40%;
  left: 0;
  background-color: transparent;
  height: 100%;
  width: 80px;
}
.socialMediaLinks img {
  display: block;
  text-align: center;
  margin: 25px;
  font-size: 50px;
  cursor: pointer;
}
.navLinks {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 250px;
  background-color: #f67c92;
  transition: 0.5s;
}
.navLinks li a {
  display: block;
  color: white;
  text-decoration: none;
}
.navLinks li {
  list-style: none;
  margin: 50px 30px;
}
@media (max-width: 700px) {
  h1 {
    font-size: 20px;
  }
}
.row-about {
  padding: 100px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.col-left-about {
  flex-basis: 50%;
}
.col-left-about img {
  width: 100%;
}

.col-right-about {
  flex-basis: 50%;
}
.col-right-about h1 {
  text-align: right;
  margin-bottom: 50px;
}
.col-right-about h2 {
  text-align: end;
  font-family: "Dancing Script", cursive;
  margin-bottom: 50px;
}
.col-right-about p {
  text-align: end;
  color: gray;
  margin-bottom: 50px;
}
.text-about {
  margin-right: 100px;
}
.square {
  height: 12px;
  width: 10px;
  background-color: #f67c92;
}
.text-about h3 {
  color: gray;
  text-align: right;
}
.features-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row-features {
  display: flex;
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.row-features img {
  width: 100px;
}
.row-features p {
  max-width: 250px;
  color: gray;
  margin-top: 20px;
  text-align: center;
}
.btn-features {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.courses {
  padding: 100px;
}
.row-courses {
  display: flex;
  padding: 100px 0;
  flex-wrap: wrap;
}
.course-col-right {
  flex-basis: 50%;
}
.course-col-right img {
  width: 100%;
}
.course-col-left {
  flex-basis: 50%;
}
.course-col-left p {
  margin-top: 25px;
  color: gray;
  max-width: 500px;
}
.course-col-left h1 {
  font-weight: 600;
}
.limitless-row {
  padding: 0 100px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.limiltess-right-col {
  flex-basis: 50%;
}
.limiltess-right-col img {
  width: 100%;
}
.limiltess-left-col {
  flex-basis: 50%;
}
.limiltess-left-col h1,
p {
  text-align: end;
  margin-bottom: 50px;
}
.limiltess-left-col p {
  color: gray;
}
.row-contact {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 100px;
}
.col-right-contact {
  flex-basis: 50%;
}
.col-right-contact img {
  width: 100%;
}
.col-left-contact {
  flex-basis: 50%;
}
.col-left-contact h1 {
  margin-bottom: 25px;
  font-size: 30px;
}
input {
  border: 1px solid #f67c92;
  display: block;
  padding: 15px 100px;
  margin: 10px;
  outline: none;
  margin-bottom: 35px;
}
.btn-contact.trial {
  margin: 0 10px 0;
  padding: 20px 40px;
}
.btn-contact.signup {
  margin: 0 10px 0;
  padding: 20px 50px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-col-left {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-col-left h3 {
  color: #f67c92;
  margin-bottom: 25px;
}
.footer-col-left li {
  list-style: none;
  color: gray;
}

.footer-col-right {
  flex-basis: 50%;
  display: flex;
  align-items: center;
}
.footer-col-right p {
  margin: 50px;
}

.btn-footer {
  margin: 10px;
  padding: 50px;
}
.footer-logo {
  width: 20px;
  padding: 50px;
}
.box-footer {
  display: flex;
  flex-direction: column;
}
@media (max-width: 700px) {
  .home {
    background-image: none;
    padding: 0 50px;
  }
  .socialMediaLinks img {
    margin: 15px;
    width: 25px;
  }
  .btn {
    padding: 10px 20px;
  }
  .row-about {
    padding: 50px 0;
  }
  .col-left-about,
  .col-right-about {
    flex-basis: 100%;
  }
  .text-about {
    margin-right: 50px;
  }
  .col-right-about h2 {
    font-size: 20px;
  }
  .features-col {
    flex-basis: 100%;
  }
  .row-features p {
    text-align: center;
  }
  .courses {
    padding: 20px;
  }
  .row-courses {
    padding: 50px 0;
  }
  .course-col-right,
  .course-col-left {
    flex-basis: 100%;
  }
  .limiltess-left-col,
  .limiltess-right-col {
    flex-basis: 100%;
  }
  .row-courses img {
    margin-top: 20px;
  }
  .btn-course {
    text-align: center;
    display: flex;
    align-items: center;
  }
  .limitless-row {
    padding: 0 50px;
  }
  .row-contact {
    padding: 50px;
  }
  .col-right-contact,
  .col-left-contact {
    flex-basis: 100%;
  }
  .col-left-contact h1 {
    margin-bottom: 15px;
    font-size: 30px;
  }
  .btn-contact.signup {
    padding: 10px 20px;
  }
  .btn-contact.trial {
    padding: 10px 20px;
  }
  .footer-col-left,
  .footer-col-right {
    flex-basis: 100%;
  }
  .footer-col {
    display: flex;
    flex-direction: column;
  }
}
